body{
  overflow-x: hidden;
}

.nav-container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */
.nav-one{
  font-size: 1.3rem;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/*Shopping card*/
.shop_cart{
  width: 200px;
}

.dropdown{
  float:right;
  padding-right: 30px;
}
.btn{
  border:0;
  margin:5px 0;
  box-shadow:none !important;
}
.dropdown .dropdown-menu{
  height: 63vh;
  overflow-y: scroll;
  padding:20px;
  top:30px !important;
  width:350px !important;
  left:-110px !important;
  box-shadow:0 5px 30px black;
}

.dropdown-menu .show{

}

.total-header-section{
  border-bottom:1px solid #d2d2d2;
}
.total-section p{
  margin-bottom:20px;
}
.cart-detail{
  padding:15px 0;
}
.cart-detail-img img{
  width:100%;
  height:100%;
  padding-left:15px;
}
.cart-detail-product p{
  margin:0;
  color:#000;
  font-weight:500;
}
.cart-detail .price{
  font-size:12px;
  margin-right:10px;
  font-weight:500;
}
.cart-detail .count{
  color:#C2C2DC;
}
.checkout{
  border-top:1px solid #d2d2d2;
  padding-top: 15px;
}
.checkout .btn-primary{
  border-radius:50px;
  height:50px;
}
.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff;
}