
.custom-slider{
    background-color: black;
    max-width: 100%;
    margin: 50px 16px;
    border: 10px solid black;
    /* margin: 16px auto; */
    position: relative;
    overflow: hidden;
}

.custom-slider .left-slide, .custom-slider .right-slide {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    top: 50%;
    transition: all .5s ease;
}

.custom-slider .left-slide:hover, .custom-slider .right-slide:hover {
    box-shadow: 0px, 0px, 10px, black;
    background-color: white;
}

.custom-slider .left-slide {
    left: 20px;
}

.custom-slider .right-slide {
    right: 20px;
}



.custom-slider .custom-slider-items .custom-item img{
    max-width: 100%;
    margin: 10px auto;
    display: block;
    animation: zoom 1s ease;
}

@keyframes zoom{
    0%{transform: scale(2); opacity: 0;}
    50%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

.custom-slider .custom-slider-items .custom-item {
    display: none;
    position: relative;
}

.custom-slider .custom-slider-items .custom-item .caption {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, .5);
    line-height: 60px;
}

.custom-slider .custom-slider-items .custom-item.active {
    display: block;
}

@media screen and (max-width: 720px){
    .custom-slider .custom-slider-items .custom-item .caption .text-light {
        font-size: 20px;
    }

    

    .custom-slider .custom-slider-items .custom-item .caption{
        height: 20px;
        font-size: 20px;
    }
}